<header class="hero-section text-white d-flex align-items-center">
  <div class="container text-center fade-in-up">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <span
          class="badge bg-primary px-3 py-2 mb-3 rounded-pill text-uppercase spacing-2"
          >Nouvelle Arrivée</span
        >
        <h1 class="display-1 fw-bold mb-4">L'Audace Absolue</h1>
        <p class="lead mb-5 fs-4 text-white-50">
          L'alliance parfaite entre sportivité et élégance. <br />
          Prenez le volant de l'exception.
        </p>
        <div class="d-flex justify-content-center gap-3">
          <button class="btn btn-primary btn-lg px-5 rounded-0 fw-bold">
            Configurer
          </button>
          <button class="btn btn-outline-light btn-lg px-5 rounded-0 fw-bold">
            Essayer
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
