<nav
  class="navbar navbar-expand-lg navbar-dark fixed-top shadow-sm"
  style="background-color: rgb(0 0 0 / 34%) !important"
>
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <i class="bi bi-speedometer2 me-2 text-primary"></i>
      BMW <span class="fw-light ms-1">France</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#modeles">Modèles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#innovation">Innovation</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary btn-sm ms-2 px-3 rounded-pill" href="#"
            >Réserver un essai</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
